# CARS DEKHO DATA PREPROCESSING

In [1]:
import glob
import pandas as pd

#### Combining all the Excel files

In [2]:
path = r"F:\Learnings\DataScientist\GUVI-1\Career_fair\ML project(cardekho)"
file_list = glob.glob(path + r"/*.xlsx")
excl_list = []
for file in file_list:
    excl_list.append(pd.read_excel(file))

In [3]:
df = pd.concat(excl_list, ignore_index=True)
df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [4]:
data1= df['new_car_detail']
data2 = df['new_car_overview']
data3 = df['new_car_feature']
data4 = df['new_car_specs']

# Car Details

In [5]:
import ast
dict_list = []
for i in data1:
    res = ast.literal_eval(i)
    dict_list.append(res)

In [6]:
columns = {'ignition_type': [], 'Fuel Type': [],'body_type': [],'kms_driven': [],'transmission_type': [],'ownerNo': [],'owner': [],'manufacturer':[],
           'model': [],'year_of_manufac':[],'variantName':[],'centralVariantId':[],'price':[],'priceActual': [],'priceSaving': [],'priceFixedText': []}
for dic in dict_list:
    columns['ignition_type'].append(dic['it'])
    columns['Fuel Type'].append(dic['ft'])
    columns['body_type'].append(dic['bt'])
    columns['kms_driven'].append(dic['km'])
    columns['transmission_type'].append(dic['transmission'])
    columns['ownerNo'].append(dic['ownerNo'])
    columns['owner'].append(dic['owner'])
    columns['manufacturer'].append(dic['oem'])
    columns['model'].append(dic['model'])
    columns['year_of_manufac'].append(dic['modelYear'])
    columns['variantName'].append(dic['variantName'])
    columns['centralVariantId'].append(dic['centralVariantId'])
    columns['price'].append(dic['price'])
    columns['priceActual'].append(dic['priceActual'])
    columns['priceSaving'].append(dic['priceSaving'])
    columns['priceFixedText'].append(dic['priceFixedText'])

car_details = pd.DataFrame(columns)
car_details.head()

,ignition_type,Fuel Type,body_type,kms_driven,transmission_type,ownerNo,owner,manufacturer,model,year_of_manufac,variantName,centralVariantId,price,priceActual,priceSaving,priceFixedText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,VXI,3979,₹ 4 Lakh,,,None
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,1.5 Petrol Titanium BSIV,6087,₹ 8.11 Lakh,,,None
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,1.2 Revotron XZ,2983,₹ 5.85 Lakh,,,None
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1.2 Kappa S Option,1867,₹ 4.62 Lakh,,,None
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,DDiS 200 Zeta,4277,₹ 7.90 Lakh,,,None

# New Car Overview

In [7]:
dict_list1 = []
for i in data2:
    res = ast.literal_eval(i)
    dict_list1.append(res)

In [8]:
import numpy as np
columns = {'Insurance Validity':[],'Seats':[],'Engine Displacement(cc)':[]}

for dic in dict_list1:
                columns['Insurance Validity'].append(dic['top'][1]['value'])
                
                if dic['top'][3]['key'] == 'Seats':
                    columns['Seats'].append(dic['top'][3]['value'])
                else:
                      columns['Seats'].append(np.nan)
                              
                
                try:    
                    if dic['top'][4]['key']== 'Engine Displacement':
                       columns['Engine Displacement(cc)'].append(dic['top'][4]['value'])
                    elif dic['top'][5]['key'] == 'Engine Displacement':
                        columns['Engine Displacement(cc)'].append(dic['top'][5]['value']) 
                    elif dic['top'][6]['key']== 'Engine Displacement':
                        columns['Engine Displacement(cc)'].append(dic['top'][6]['value'])  
                    elif dic['top'][7]['key']== 'Engine Displacement':
                        columns['Engine Displacement(cc)'].append(dic['top'][7]['value']) 
                    else:
                      columns['Engine Displacement(cc)'].append(np.nan) 
                except :
                      columns['Engine Displacement(cc)'].append(np.nan)
                
cars_overview = pd.DataFrame(columns)
cars_overview.head()

      Insurance Validity    Seats Engine Displacement(cc)
0  Third Party insurance  5 Seats                  998 cc
1          Comprehensive  5 Seats                 1497 cc
2          Comprehensive  5 Seats                 1199 cc
3          Comprehensive  5 Seats                 1197 cc
4  Third Party insurance  5 Seats                 1248 cc

# Car Feature

In [9]:
dict_list2 = []
for i in data3:
    res = ast.literal_eval(i)
    dict_list2.append(res)
dict_list2[0]

{'heading': 'Features',
 'top': [{'value': 'Power Steering'},
  {'value': 'Power Windows Front'},
  {'value': 'Air Conditioner'},
  {'value': 'Heater'},
  {'value': 'Adjustable Head Lights'},
  {'value': 'Manually Adjustable Exterior Rear View Mirror'},
  {'value': 'Centeral Locking'},
  {'value': 'Child Safety Locks'}],
 'data': [{'heading': 'Comfort & Convenience',
   'subHeading': 'Comfort',
   'list': [{'value': 'Power Steering'},
    {'value': 'Power Windows Front'},
    {'value': 'Power Windows Rear'},
    {'value': 'Remote Trunk Opener'},
    {'value': 'Remote Fuel Lid Opener'},
    {'value': 'Low Fuel Warning Light'},
    {'value': 'Accessory Power Outlet'},
    {'value': 'Vanity Mirror'},
    {'value': 'Rear Seat Headrest'},
    {'value': 'Cup Holders Front'}]},
  {'heading': 'Interior',
   'subHeading': 'Interior',
   'list': [{'value': 'Air Conditioner'},
    {'value': 'Heater'},
    {'value': 'Digital Odometer'},
    {'value': 'Electronic Multi Tripmeter'},
    {'value': 'Fabric Upholstery'},
    {'value': 'Glove Compartment'},
    {'value': 'Digital Clock'}]},
  {'heading': 'Exterior',
   'subHeading': 'Exterior',
   'list': [{'value': 'Adjustable Head Lights'},
    {'value': 'Manually Adjustable Exterior Rear View Mirror'},
    {'value': 'Wheel Covers'},
    {'value': 'Power Antenna'},
    {'value': 'Chrome Grille'}]},
  {'heading': 'Safety',
   'subHeading': 'Safety',
   'list': [{'value': 'Centeral Locking'},
    {'value': 'Child Safety Locks'},
    {'value': 'Day Night Rear View Mirror'},
    {'value': 'Passenger Side Rear View Mirror'},
    {'value': 'Halogen Headlamps'},
    {'value': 'Rear Seat Belts'},
    {'value': 'Door Ajar Warning'},
    {'value': 'Side Impact Beams'},
    {'value': 'Front Impact Beams'},
    {'value': 'Adjustable Seats'},
    {'value': 'Centrally Mounted Fuel Tank'},
    {'value': 'Engine Immobilizer'},
    {'value': 'Anti Theft Device'}]}],
 'commonIcon': 'https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg'}

# Car specifications

In [10]:
dict_list3 = []
for i in data4:
    res = ast.literal_eval(i)
    dict_list3.append(res)

In [11]:
columns = {'mileage(kmpl)':[],'max_power(bhp)':[]}

for i,dic in enumerate(dict_list3):
        if dic['top'][0]['key'] == 'Mileage':
                columns['mileage(kmpl)'].append(dic['top'][0]['value'])
        else:
                columns['mileage(kmpl)'].append(np.NaN)
        try:
            if dic['top'][1]['key'] == 'Max Power':
                columns['max_power(bhp)'].append(dic['top'][1]['value'])
            elif dic['top'][2]['key'] == 'Max Power':
                columns['max_power(bhp)'].append(dic['top'][2]['value']) 
            else:
                 columns['max_power(bhp)'].append(np.NaN)  
        except:
                columns['max_power(bhp)'].append(np.NaN)  
car_mil = pd.DataFrame(columns)

In [12]:
car_details['mileage(kmpl)'] = car_mil['mileage(kmpl)']
car_details['max_power(bhp)'] = car_mil['max_power(bhp)']
car_details['Seats'] = cars_overview['Seats']
car_details['Insurance Validity'] = cars_overview['Insurance Validity']
car_details['Seats'] = cars_overview['Seats']
car_details['Engine Displacement(cc)'] = cars_overview['Engine Displacement(cc)']

In [13]:
car_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ignition_type            8369 non-null   int64
 1   Fuel Type                8369 non-null   object
 2   body_type                8369 non-null   object
 3   kms_driven               8369 non-null   object
 4   transmission_type        8369 non-null   object
 5   ownerNo                  8369 non-null   int64
 6   owner                    8369 non-null   object
 7   manufacturer             8369 non-null   object
 8   model                    8369 non-null   object
 9   year_of_manufac          8369 non-null   int64
 10  variantName              8369 non-null   object
 11  centralVariantId         8369 non-null   int64
 12  price                    8369 non-null   object
 13  priceActual              8369 non-null   object
 14  priceSaving              8369 non-null   object
 15  priceFixedText           0 non-null      object
 16  mileage(kmpl)            8082 non-null   object
 17  max_power(bhp)           8309 non-null   object
 18  Seats                    8307 non-null   object
 19  Insurance Validity       8369 non-null   object
 20  Engine Displacement(cc)  8365 non-null   object
dtypes: int64(4), object(17)
memory usage: 1.3+ MB

#### Checking for the null columns

In [14]:
car_details.isnull().sum()

ignition_type                 0
Fuel Type                     0
body_type                     0
kms_driven                    0
transmission_type             0
ownerNo                       0
owner                         0
manufacturer                  0
model                         0
year_of_manufac               0
variantName                   0
centralVariantId              0
price                         0
priceActual                   0
priceSaving                   0
priceFixedText             8369
mileage(kmpl)               287
max_power(bhp)               60
Seats                        62
Insurance Validity            0
Engine Displacement(cc)       4
dtype: int64

#### Dropping unwanted columns and duplicates

In [15]:
car_details.drop(columns=['ignition_type','priceFixedText','priceSaving','owner','priceActual','centralVariantId','variantName'],inplace=True)

In [16]:
car_details.duplicated().sum()

129

In [17]:
car_details.drop_duplicates(inplace=True)

In [18]:
null_mask = car_details.isnull().any(axis=1)
car_details[null_mask].head() # rows with null values

,Fuel Type,body_type,kms_driven,transmission_type,ownerNo,manufacturer,model,year_of_manufac,price,mileage(kmpl),max_power(bhp),Seats,Insurance Validity,Engine Displacement(cc)
16,Diesel,SUV,"16,000",Automatic,1,Mercedes-Benz,Mercedes-Benz GLA,2022,₹ 55.95 Lakh,NaN,187.74bhp,5 Seats,Comprehensive,1950 cc
52,Diesel,Sedan,400,Automatic,1,Mercedes-Benz,Mercedes-Benz E-Class,2022,₹ 79.90 Lakh,NaN,281.61bhp,5 Seats,Third Party,2925 cc
105,Petrol,Hatchback,"64,374",Automatic,1,Honda,Honda Jazz,2018,₹ 7.55 Lakh,19 kmpl,88.7bhp,NaN,Petrol,1199 cc
111,Petrol,SUV,"26,500",Automatic,2,Hyundai,Hyundai Creta,2021,₹ 16.75 Lakh,NaN,138.12bhp,5 Seats,Comprehensive,1397 cc
120,Diesel,Sedan,"36,349",Automatic,1,Skoda,Skoda Superb,2014,₹ 16.50 Lakh,17.2 kmpl,138.1bhp,NaN,Diesel,1968 cc

# Handling the missing values

In [19]:
car_details['Seats'].fillna('5 Seats',inplace=True)

In [20]:
car_details.loc[car_details['model'] == 'Maruti Gypsy', 'Seats'] = '8 Seats'
car_details.loc[car_details['model'] == 'MG Gloster', 'Seats'] = '6 Seats'
car_details.loc[car_details['model'] == 'Maruti 800', 'Seats'] = '4 Seats'
car_details.loc[car_details['model'] == 'Mahindra e2o Plus', 'Seats'] = '4 Seats'
car_details.loc[car_details['model'] == 'Maruti Omni', 'Seats'] = '8 Seats'
car_details.loc[car_details['model'] == 'Toyota Qualis', 'Seats'] = '8 Seats'
car_details.loc[car_details['model'] == 'Ford Endeavour', 'Seats'] = '7 Seats'
car_details.loc[car_details['model'] == 'Mahindra XUV700', 'Seats'] = '7 Seats'

car_details.loc[car_details['model'] == 'Maruti Gypsy', 'Engine Displacement(cc)'] = '1298 cc'
car_details.loc[car_details['model'] == 'Mahindra e2o Plus', 'Engine Displacement(cc)'] = '72 cc'
car_details.loc[car_details['model'] == 'Mercedes-Benz C-Class', 'Engine Displacement(cc)'] = '1496 cc'

In [21]:
car_details.isnull().sum()

Fuel Type                    0
body_type                    0
kms_driven                   0
transmission_type            0
ownerNo                      0
manufacturer                 0
model                        0
year_of_manufac              0
price                        0
mileage(kmpl)              282
max_power(bhp)              59
Seats                        0
Insurance Validity           0
Engine Displacement(cc)      0
dtype: int64

In [22]:
car_details.dropna(inplace=True) #dropping null values

In [23]:
car_details.shape

(7920, 14)

#### Formatting the columns

1. Max power

In [23]:
import re
def num(x):
        y = x.lower()
        try:
                if 'ps' in y:
                    match1 = y.split(re.findall(r"\bps|ps\b", y)[0])
                    val = float(match1[0].strip())
                    res = val/1.014
                    return round(res,2)
                
                elif 'bhp' in y:
                    match2 = y.split(re.findall(r"\bbhp|bhp\b", y)[0])
                    res = float(match2[0].strip())
                    return res
                
                elif 'kw' in y:
                    match3 = y.split(re.findall(r"\bkw|kw\b", y)[0])
                    val = float(match3[0].strip())
                    res = val * 1.341
                    return res
                
                elif 'hp' in y:
                    match4 = y.split(re.findall(r"\bhp|hp\b", y)[0])
                    res = float(match4[0].strip())
                    return res
                
                elif "(" in y:
                    match5 = re.findall('[(][0-9][0-9]',y)[0]
                    res = float(match5[1:])
                    return res
            
                else:
                    res = float(y.strip())
                    return res
        except:
             pass
  
car_details['max_power(bhp)'] = car_details['max_power(bhp)'].apply(num)

2. Seats, Engine Displacement, Price

In [24]:
def num_strip(x):
    res = int(re.findall(r'\d+',str(x))[0])
    return res
def num_strip2(x):
     res = x.strip('₹').strip()
     return res

car_details['Seats'] = car_details['Seats'].apply(num_strip)
car_details['Engine Displacement(cc)']= car_details['Engine Displacement(cc)'].apply(num_strip)
car_details['price']=car_details['price'].apply(num_strip2)

In [25]:
car_details.loc[car_details['Engine Displacement(cc)']==0,'Engine Displacement(cc)'] =1197
car_details.loc[car_details['model']=='Maruti Eeco','body_type'] = 'Minivans'
car_details['kms_driven']=car_details['kms_driven'].str.replace(',','').astype(int)

##### Converting price and mileage columns to numerical

In [26]:
def price_conv(x):
    match = re.search('Lakh$',x)
    match2 = re.search('Crore$',x)
    match3 = re.search('^[0-9][0-9],000$',x)
    if match:
        res = float(x.rstrip('Lakh'))*100000
        return res
    elif match2:
        res1 = float(x.rstrip('Crore'))*10000000
        return res1
    elif match3:
        res2 = x.replace(',','')
        return res2
car_details['price']=car_details['price'].apply(price_conv)
car_details['price'] = round(car_details['price'].astype(float),2)

In [27]:
def mileage_conv(x):
    match = re.search('kmpl$',x)
    if match:
        res = float(x.rstrip('kmpl'))
        return res
car_details['mileage(kmpl)'] = car_details['mileage(kmpl)'].apply(mileage_conv)

##### Calculating the cars' Age and dropping the manufactured year

In [28]:
def age(x):
    car_age = 2024 - x
    return car_age
car_details['Car_Age'] = car_details['year_of_manufac'].apply(age)

In [29]:
car_details.drop(['year_of_manufac'],axis=1,inplace=True)
car_details.dropna(inplace=True)

In [30]:
car_details.head()

,Fuel Type,body_type,kms_driven,transmission_type,ownerNo,manufacturer,model,price,mileage(kmpl),max_power(bhp),Seats,Insurance Validity,Engine Displacement(cc),Car_Age
0,Petrol,Hatchback,120000,Manual,3,Maruti,Maruti Celerio,400000.0,23.10,67.04,5,Third Party insurance,998,9
1,Petrol,SUV,32706,Manual,2,Ford,Ford Ecosport,811000.0,17.00,121.31,5,Comprehensive,1497,6
2,Petrol,Hatchback,11949,Manual,1,Tata,Tata Tiago,585000.0,23.84,84.00,5,Comprehensive,1199,6
3,Petrol,Sedan,17794,Manual,1,Hyundai,Hyundai Xcent,462000.0,19.10,81.86,5,Comprehensive,1197,10
4,Diesel,SUV,60000,Manual,1,Maruti,Maruti SX4 S Cross,790000.0,23.65,88.50,5,Third Party insurance,1248,9

In [31]:
car_details.isnull().sum()

Fuel Type                  0
body_type                  0
kms_driven                 0
transmission_type          0
ownerNo                    0
manufacturer               0
model                      0
price                      0
mileage(kmpl)              0
max_power(bhp)             0
Seats                      0
Insurance Validity         0
Engine Displacement(cc)    0
Car_Age                    0
dtype: int64

In [32]:
car_details.to_csv('cars_dekho.csv',index=False)

# Encoding the columns

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [34]:
car_details['Fuel Type'] = le.fit_transform(car_details['Fuel Type'])
car_details['body_type'] = le.fit_transform(car_details['body_type'])
car_details['transmission_type'] = le.fit_transform(car_details['transmission_type'])
car_details['manufacturer'] = le.fit_transform(car_details['manufacturer'])
car_details['model'] = le.fit_transform(car_details['model'])
car_details['Insurance Validity'] = le.fit_transform(car_details['Insurance Validity'])

In [35]:
car_details.head()

,Fuel Type,body_type,kms_driven,transmission_type,ownerNo,manufacturer,model,price,mileage(kmpl),max_power(bhp),Seats,Insurance Validity,Engine Displacement(cc),Car_Age
0,4,2,120000,1,3,20,142,400000.0,23.10,67.04,5,7,998,9
1,4,7,32706,1,2,6,47,811000.0,17.00,121.31,5,2,1497,6
2,4,2,11949,1,1,29,242,585000.0,23.84,84.00,5,2,1199,6
3,4,8,17794,1,1,9,81,462000.0,19.10,81.86,5,2,1197,10
4,1,7,60000,1,1,20,157,790000.0,23.65,88.50,5,7,1248,9

In [37]:
car_details.to_csv('final_data.csv',index =False)